.column-input {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .custom-heading {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .container {
    margin-top: 5%;
  }
  
  .button {
    margin-bottom: 3%;
  }