.custom-input {
  border-style: groove !important;
  border: grey !important;
  background-color: #ffffff;
  width: 25%;
  font: 1.1rem / 1.25 sans-serif;

  padding: 0.3rem 0.25rem;
}

.custom-glass-effect {
  background-color: #ffffff10;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 10px;
}